* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --profile-pic-border-color: rgba(255, 255, 255, 0.5);

    --background-image: url(./assets/bg-mobile-dark.jpg);
    --text-color: white;
    
    --bg-color-link: rgba(255, 255, 255, 0.1);
    --bg-border-color-link: rgba(255, 255, 255, 0.5);
    --bg-color-link-hover: rgba(255, 255, 255, 0.05); 
    --bg-border-color-link-hover: #FFFFFF;
    
    --social-links-hover-color: rgba(255, 255, 255, 0.2);
    
}

/* .light {
    --profile-pic-border-color: rgba(0, 0, 0, 0.5);
    
    --background-image: url(./assets/bg-mobile-light.png);
    --text-color: black;
    
    --bg-color-link: rgba(0, 0, 0, 0.05);
    --bg-border-color-link: rgba(0, 0, 0, 0.5);
    --bg-color-link-hover: rgba(0, 0, 0, 0.02); 
    --bg-border-color-link-hover: black;
    
    --social-links-hover-color: rgba(0, 0, 0, 0.1);
} */

body * {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}


body {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: top bottom;
    background-size: cover;
} 

#container {
    margin: auto;
    /* border: 2px solid white; */
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* profile */

#profile {
    padding: 24px;
    text-align: center;
}
#profile-pic {
    border: 2px solid var(--profile-pic-border-color);
    border-radius: 50%;
    width: 112px;
}

#profile p {
    margin-top: 8px;
    color: white;
    font-weight: 400;
}


/* links */

#links {
    /* Apenas para adicionar o gap entre os uls
    e também adicionar o padding na caixa */
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

#links li {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-link);
    border: 1px solid var(--bg-border-color-link);
    border-radius: 8px;
    transition: background 0.4s;
}
#links li:hover {
    background-color: var(--bg-color-link-hover);
    border: 1.5px solid var(--bg-border-color-link-hover);
}


#links a {
    font-weight: 500;
}


/* social links */

#social-links {
    padding: 24px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#social-links ion-icon {
    padding: 16px;
    transition: background 0.5s;
    border-radius: 100%;
}
#social-links ion-icon:hover {
    background: var(--social-links-hover-color)
}


footer {
    font-weight: 400;
    text-align: center;
    padding: 24px;
}
