* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --profile-pic-border-color: rgba(255, 255, 255, 0.5);
    
    --background-image: url(./assets/bg-mobile-dark.jpg);
    --text-color: white;
    
    --switch-image: url("./assets/moonstars.svg");
    --track-surface-color: rgba(255, 255, 255, 0.1);;
    --track-stroke-color: rgba(255, 255, 255, 0.5);
    --button-x-position: (0%);
    
    --bg-color-link: rgba(255, 255, 255, 0.1);
    --bg-border-color-link: rgba(255, 255, 255, 0.5);
    --bg-color-link-hover: rgba(255, 255, 255, 0.05); 
    --bg-border-color-link-hover: #FFFFFF;
    
    --social-links-hover-color: rgba(255, 255, 255, 0.2);
    
}

.light {
    --profile-pic-border-color: rgba(0, 0, 0, 0.5);
    
    --background-image: url(./assets/bg-mobile-light.png);
    --text-color: black;
    
    --switch-image: url("./assets/Sun.svg");
    --track-surface-color: rgba(0, 0, 0, 0.05);
    --track-stroke-color: rgba(0, 0, 0, 0.5);
    --button-x-position: translateX(100%);
    
    --bg-color-link: rgba(0, 0, 0, 0.05);
    --bg-border-color-link: rgba(0, 0, 0, 0.5);
    --bg-color-link-hover: rgba(0, 0, 0, 0.02); 
    --bg-border-color-link-hover: black;
    
    --social-links-hover-color: rgba(0, 0, 0, 0.1);
}

body * {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}


body {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-position: top bottom;
    background-size: cover;
} 

#container {
    margin: auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* profile */

#profile {
    padding: 24px;
    text-align: center;
}

#profile-pic {
    border: 2px solid var(--profile-pic-border-color);
    border-radius: 50%;
    width: 112px;
}

#profile p {
    margin-top: 8px;
    color: var(--text-color);
    font-weight: 400;
    padding: 8px;
}

/* switch */

#switch {
    display: flex;
    justify-content: center;
    align-items: center;
}

#switch-container {
    width: 64px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


#switch button {
    /* background-color: #FFFFFF;
    background-image: var(--switch-image);
    background-repeat: no-repeat;
    background-position: center; */
    background: white var(--switch-image) no-repeat center;
    padding: 8px;
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    position: absolute;
    left: 0;
    z-index: 1;
    transform: var(--button-x-position);
}


#switch span {
    background-color: var(--track-surface-color);
    border: 1px solid var(--track-stroke-color);
    width: 64px;
    height: 24px;
    border-radius: 9999px;
    position: relative;
}

/* isso aqui não funciona. não é assim */
/* #switch button: {
    border: 8px solid rgba(255, 255, 255, 0.2);
} */


/* links */

#links {
    /* Apenas para adicionar o gap entre os uls
    e também adicionar o padding na caixa */
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
}

#links li {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-link);
    border: 1px solid var(--bg-border-color-link);
    border-radius: 8px;
    transition: background 0.4s;
}
#links li:hover {
    background-color: var(--bg-color-link-hover);
    border: 1.5px solid var(--bg-border-color-link-hover);
}


#links a {
    font-weight: 500;
}


/* social links */

#social-links {
    padding: 24px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#social-links ion-icon {
    padding: 16px;
    transition: background 0.5s;
    border-radius: 100%;
}

#social-links ion-icon:hover {
    background: var(--social-links-hover-color)
}


footer {
    font-weight: 400;
    text-align: center;
    padding: 24px;
}
